/*---------deafault/comoon/resetcss*/
* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
}

body {
    font-family: Sofia;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

.subheading {
    font-size: 13px;
    font-family: "Nunito", Arial, sans-serif;
    display: block;
    margin-bottom: 5px;
    color: rgb(194, 168, 126);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 0;
}

:root {
    --fontFamily: "Overpass", sans-serif;
    --mainColor: #0000ff;
    --optionalColor: #fa7070;
    --whiteColor: #ffffff;
    --text-color: #f1efd5;
    --blackColor: #474747;
    --paragraphColor: #656a80;
    --color: #0e0f0f;
    --grayColor: #b9bec7;
    --fontSize: 16px;
    --transition: .5s;
}

/* ==========================Header========================== */

header {
    /* background-color:; */
    /* padding: 20px 50px; */
    /* align-items: center; */
    border-bottom: 1px solid var(--text-color);
    top: 0;
    bottom: 0;
}

.navbar-brand img {
    width: 100%;
}

.navbar h2 {
    color: var(--text-color);
}

.navbar-nav span h3 {
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

.navbar-nav span p {
    display: block;
    color: var(--text-color);
    font-size: 12px;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    color: var(--blackColor);
    font-size: 16px;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.dtr-header-btn {
    /* background-color: #f1efd5; */
    color: var(--blackColor);
    border: 2px solid var(--color);
    text-decoration: none;
    border-radius: 50PX;
    font-family: 'Nunito', Arial, sans-serif;
    line-height: 22px;
    padding: 10px 10px;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}


/* banner */

.banner {
    background-image: url(../Images/image110.png);
    background-position: center ;
    background-size: cover;
    height: 100vh;
    /* align-content: center; */
    /* margin-bottom: 50px; */
}

.demo{
    margin-top: 20%;
    /* margin: 0 auto ; */
}

.Your-taste h1 {
    font-size: 60px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    line-height: 0.8;
    max-width: 35%;
}

.Your-taste p {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    margin: 0 auto;
    max-width: 36%;
}

.Book {
    background-color: #ad343e;
    color: var(--whiteColor);
    border: none;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'DM Sans', sans-serif;
    line-height: 22px;
    padding: 13px 18px;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.Explor {
    color: var(--blackColor);
    border: 2px solid var(--color);
    text-decoration: none;
    border-radius: 50PX;
    font-family: 'DM Sans';
    line-height: 22px;
    padding: 13px 18px;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin-left: 8px;
}


/* Our-Menu */


.Our-Menu {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.Our-Menu h1 {
    font-size: 45px;
    font-family: 'Playfair Display';
}

.Breakfast .col-3 {
    padding: 10px;
}

.card {
    padding: 20px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.card img {
    height: 80px;
    width: 80px;
    margin-bottom: 25px;
}

.card h2 {
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-style: bold;
    font-weight: 700;
}

.card p {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    max-width: 250px;
}

.card button {
    border: none;
    background-color: var(--whiteColor);
    color: rgb(158, 21, 21);
    font-weight: 600;
}


/* provide-health */


.provide-healthy {
    background-color: #f9f9f7;
    padding: 80px 80px;
}

.Image img {
    height: 90%;
    width: 100%;
}

.mini-card {
    color: var(--whiteColor);
    background-color: #474747;
    padding: 20px;
    z-index: 1;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    bottom: 9px;
    right: -37px;
}

.mini-card h5 {
    margin-top: 10px;
}

.family h1 {
    font-size: 55px;
    font-family: 'Playfair Display';
    font-style: normal;
    margin-left: 80px;
    max-width: 500px;
}

.family h6 {
    font-family: 'DM Sans', sans-serif;
    font-style: bold;
    font-weight: 500;
    line-height: 25px;
    max-width: 92%;
    margin-left: 80px;
}

.family p {
    font-size: 14px;
    max-width: 92%;
    margin-left: 80px;
    margin-top: 20px;
}

.About {
    border: none;
    background-color: var(--whiteColor);
    border: 2px solid black;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'DM Sans', sans-serif;
    line-height: 22px;
    padding: 13px 18px;
    font-weight: 500;
    font-style: normal;
    margin-left: 80px;
    font-size: 16px;
}

.mini-card ul {
    padding-left: 0px;
}

.mini-card ul li:nth-child(1) {
    margin-top: 30px;
}

.mini-card ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

.mini-card ul li i {
    padding-right: 10px;
}


/* offer-uniqu */


.offer-unique .row {
    display: block;
}

.offer-unique {
    padding: 70px 70px;
}

.offer-unique h1 {
    font-size: 55px;
    font-family: 'Playfair Display';
    max-width: 600px;
    margin-bottom: 70px;
}

.Caterings img {
    margin-bottom: 20px;
}

.Caterings h3 {
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.Caterings h6 {
    margin-top: 10px;
    max-width: 280px;
}

/* Fastest-Food */

.Fastest-Food {
    background-color: #f9f9f7;
    padding: 80px 60px;
}

.snakehead {
    margin-left: 10px;
    margin-top: 30px;
}

.snakehead img:nth-child(1) {
    margin-top: 18px;
    height: 320px;
}

.snakehead img:nth-child(2) {
    height: 229px;
    margin-top: 26px;
}

.this-city h1 {
    font-size: 55px;
    font-family: 'Playfair Display';
    max-width: 400px;
}

.this-city p {
    font-size: 16px;
    font-style: normal;
    font-family: 'DM Sans', sans-serif;
    max-width: 400px;
    margin-top: 30px;
}

.this-city ul {
    list-style: none;
    margin-top: 50px;
    padding-left: 0px;
}

.this-city ul li {
    display: flex;
    padding: 15px 0px 15px 0px;
    align-items: center;
}

.this-city ul li img {
    height: 40px;
}

.this-city ul li span {
    font-size: 28px;
    font-weight: 600;
    margin-left: 20px;
}


/* Customers-Say */


.Customers-Say {
    background-color: #f9f9f7;
    padding-bottom: 200px;
}

.Customers-Say h1 {
    font-size: 55px;
    text-align: center;
    font-style: normal;
    font-family: 'Playfair Display';
    margin-bottom: 40px;
}

.Best-restaurant {
    /* box-shadow: 10px 10px 10px 10px #f9f9f7; */
    background-color: #eceee6;
    padding: 20px 30px;
    border-radius: 10px;
}

.Best-restaurant h3{
    color: #ad343e;
    font-size: 24px;
    font-family: 'DM Sans',sans-serif;
    font-style: bold;
    font-weight: 700;
}

.Best-restaurant p{
    font-size: 18px;
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    margin-top: 20px;
    padding-bottom: 50px;
    max-width: 340px;
    border-bottom: 1px solid #fcfaf1df;
}

.Ellipse{
    align-items: center;
}

/* Our-Blog */

.Our-Blog{
    margin-top: 100px;
}

.secret-tips{
    justify-content: space-between;
    margin-bottom: 40px;
}

.secret-tips h1{
    font-family: 'Playfair Display';
    font-size: 55px;
    font-style: medium;
}

.Table{
    background-color: #ad343e;
    color: var(--whiteColor);
    border: none;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'DM Sans', sans-serif;
    line-height: 22px;
    padding: 0px 38px;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.Perfect-Burger{
    background-color: var(--whiteColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.perfect-french{
    background-color: var(--whiteColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.perfect-french img{
    height: 216px;
}

.January{
    padding: 30px;    
}

.January p{
    font-size: 16px;
    color: #737865;
}


/* ====== footer ======= */


footer{
    background-color: var(--blackColor);
    padding: 80px;
}

.Bistro p{
     color: #adb29e;
     font-size: 16px;
     font-family: 'DM snas',sans-serif;
     max-width: 280px;
}

.Bistro ul li:nth-child(1){
    margin-left: 0px;
}

.Bistro ul li{
    list-style: none;
    margin-left: 15px;
}

.Menu ul li:nth-child(1){
    list-style: none;
    color: var(--whiteColor);
}

.Menu ul li{
     list-style: none;
     padding: 10px;
     color: #dbdfd0;
}